<%
from tools.Service import DumpTree
import re
# Get requests by path
my_requests = {}
for request in requests:
    method = request['method']
    path = request['path']
    
    # Normalize path to a regexp
    path = re.sub('{[^}]+}', '[^/]+', path)
    my_requests.setdefault(path, []).append((method, request))

req_path = re.sub('{[^}]+}', '[^/]+', req['path'])
# Only get path params
req_path_params = filter(
    lambda param: param.startswith('{') and param.endswith('}'),
    re.split('({[^}]+})', req['path']))
req_path_params = ", ".join(map(lambda param: param[1:-1], req_path_params))

my_requests = my_requests[req_path]
methods = [request for request in my_requests]

def getStmValue(stm):
    value = ''
    for i in range(stm.getChildCount()):
        value += stm.getChild(i).getText()
    return getValue({
        'value': value,
        'type': stm.getText()})

def function_params(statement):
    params = [getStmValue(statement.getChild(i))
              for i in range(1, statement.getChildCount())]
    return ', '.join(params)

def cache_duration_in_secs(stm):
    type = stm.getChild(0).getText()
    value = int(stm.getChild(0).getChild(0).getText())
    if type == 'DURATION_MINUTES':
        return value * 60
    elif type == 'DURATION_HOURS':
        return value * 60 * 60
    elif type == 'DURATION_DAYS':
        return value * 60 * 60 * 24
    elif type == 'DURATION_MONTHS':
        return value * 60 * 60 * 24 * 30 # approc
    elif type == 'DURATION_YEARS':
        return value * 60 * 60 * 24 * 365
    else:
        return value

def function_name(func):
    function = func.getChild(0).getChild(0).getText()
    if func.getChild(0).getText() == 'FUNCTION_NAME_BUILTIN':
        function = 'servicegen.function.' + function
    return function

def value_type(stm, req):
    if stm.getText() != 'VARREF':
        return stm.getText()
    name = stm.getChild(0).getText()
    if name in req['vars']:
        return req['vars'][name]['type']
    if name in config:
        return config[name]['type']
    return 'string'

%>import re
import servicegen.function, servicegen.output
% if service['externals'].has_key('webpy'):
% for imp in service['externals']['webpy']:
import ${imp}
% endfor
% endif

class ${req['name']}:
  % for method in methods:
    <% method_name, method_req = method %>
    def ${method_name}(self, ${req_path_params}):
        try:
          %for stm in req['statements']:
          %if stm.getText() == 'FUNCTION_CALL':
            ${function_name(stm)}(${function_params(stm)})

          %elif stm.getText() == 'VARIABLE':
            <%
            identifier, value, cacheDuration, cacheKey, cacheKeyVars = ('', '', 0, '', [])
            for i in range(stm.getChildCount()):
                child = stm.getChild(i)
                if child.getText() == 'VARTYPE':
                    # ignore
                    cacheKey += '_' + child.getChild(0).getText()
                    pass
                elif child.getText() == 'CACHE':
                    # caching
                    cacheDuration = cache_duration_in_secs(child)
                    cacheKey += '_' + str(cacheDuration)
                elif child.getText()[0:8] == 'LITERAL_':
                    value = getStmValue(child)
                    cacheKey += '_' + value
                elif child.getText() == 'FUNCTION_CALL':
                    value = function_name(child) + '(' + function_params(child) + ')'
                    for param in [child.getChild(i) for i in range(1, child.getChildCount())]:
                        if param.getText() == 'VARREF':
                            cacheKeyVars.append(param.getChild(0).getText())
                    cacheKey += '_' + value
                else:
                    identifier = child.getText()
                    cacheKey += '_' + identifier
            cacheKey = "'" + re.sub('[^a-zA-Z_]', '', cacheKey).replace('__', '_')[1:] + "'"
            if len(cacheKeyVars) > 0:
                cacheKey += ' + ' + ' + '.join(cacheKeyVars)
            %>
            %if cacheDuration > 0:
            ${identifier} = servicegen.function.get_cache(${cacheKey})
            if ${identifier} == None:
                ${identifier} = ${value}
                servicegen.function.set_cache(${cacheKey}, ${identifier})
            %else:
            ${identifier} = ${value}
            %endif
          %endif
          %endfor
            
            __output_type = servicegen.output.best_of(${req['output'].keys()})
            __outputter = servicegen.output.get_outputter(__output_type)
            __outputter.header()
          %for out_type, out in req['output'].iteritems():
            if __output_type == '${out_type}':
              %for out_statement in out['statements']:
              %if value_type(out_statement, req) == 'array':
                __outputter.write_array(${getStmValue(out_statement)}, '${out_statement.getChild(0).getText()}')
              %elif value_type(out_statement, req) == 'records':
                __outputter.write_records(${getStmValue(out_statement)}, '${out_statement.getChild(0).getText()}')
              %elif value_type(out_statement, req) == 'hash':
                __outputter.write_hash(${getStmValue(out_statement)}, '${out_statement.getChild(0).getText()}')
              %else:
                __outputter.write('${value_type(out_statement, req)}', ${getStmValue(out_statement)})
              %endif
              %endfor
            
          %endfor
        
        except servicegen.function.TerminateRequest:
            # Ignore this exception
            return
  % endfor
