#!/usr/bin/env python
import web
import servicegen.init

SERVICENAME = "${servicename}"

cfg = servicegen.init.getConfig(SERVICENAME)
log = servicegen.init.getLogger(cfg, 'servicegen.' + SERVICENAME)

urls = (
    '/bla2/([^/]+)',  'Register',
    '/bla/([^/]+)',  'Notify',
)

if __name__ == "__main__":
    log.info("Service %s started." % SERVICENAME)
    web.webapi.internalerror = web.debugerror
    web.run(urls, globals(), web.reloader)
